// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

@import 'fonts';

html {
	font-family: 'avantgardegothicc';
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 1210px;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}

.us-title {
	font-family: 'CenturySchoolbook';
	font-style: italic;
	font-size: 40px;
	text-align: center;
	padding: 40px 0;
}

.us-desc {
	font-size: 14px;
	line-height: 1.6;
}

.black-btn {
	height: 40px;
	border: none;
	background: #00a1cc;
	border: 1px solid #00a1cc;
	color: #fff;
	font-size: 16px;
	padding: 0 45px 0 50px;
	outline: none;
	transition: all .2s ease;

	&:after {
		@extend .svg-icon;
		content: "\e606";
		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		width: 0;
		overflow: hidden;
		opacity: 0;
		transition: all .2s ease;
		-webkit-animation: fa-spin 1s infinite steps(8);
	  	animation: fa-spin 1s infinite steps(8);
	}

	&:hover {
		background: #ffffff;
		color: #00a1cc;
	}

	&.loading {
		cursor: pointer;

		&:after {
			width: 21px;
			opacity: 1;
		}
	}
}

.header {
	overflow: hidden;

	.wrapper {
		position: relative;
	}

	.header__logo {
		display: inline-block;
		vertical-align: top;
		width: 200px;
		height: 58px;
		background: url(../images/logo_modis.svg) center center / 123% auto no-repeat;
		margin-top: 44px;
		margin-right: 20px;
	}

	.header__left-block {
		display: inline-block;
		vertical-align: top;
		margin-left: 40px;
		margin-top: 25px;

		.block__top {
			font-size: 10px;
			font-weight: 600;
			text-transform: uppercase;
		}

		.block__date {
			position: relative;
			left: -.05em;
			font-size: 24px;
			font-weight: 300;
			color: #00a0ce;
			margin-top: 8px;
		}

		.block__time {
			font-weight: 300;
			margin-top: 6px;
		}
	}

	.header__vk-logo {
		display: inline-block;
		float: right;
		width: 130px;
		height: 130px;
		background: url(../images/logo-vk.jpg) center center / 100% auto no-repeat;
		padding: 15px 0 25px;
	}
}

.block-counter {
	position: relative;
	padding: 160px 0 125px;
	background: url(../images/counter-background.jpg) center center / cover;
	text-align: center;
	color: #fff;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ef1a8b;
		opacity: .7;
		z-index: 1;
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}

	.counter__title {
		font-family: 'CenturySchoolbook';
		font-size: 50px;
		font-style: italic;
		text-transform: uppercase;
	}

	.counter__numbers {
		font-size: 80px;
		font-weight: 700;
		margin-top: 25px;
	}

	.counter__text {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;

		span {
			display: inline-block;
			vertical-align: middle;
			width: 150px;
		}
	}
}

.block-visit {
	background: #00b6eb;
	color: #fff;
	text-align: center;

	.wrapper {
		position: relative;
		overflow: hidden;
	}

	.visit__list {
		margin: 0;
		padding: 0;
		list-style: none;
		//overflow: hidden;
		font-size: 0;

		&.list-top {
			.list__item {
				vertical-align: bottom;
			}
		}

		&.list-bottom {
			.list__item {
				vertical-align: top;
			}
		}

		.list__item {
			position: relative;
			display: inline-block;
			width: 33.333%;
			box-sizing: border-box;
			padding: 0 45px;
			transform: translateY(10%);
			opacity: 0;
			transition: all .75s ease;

			&.active {
				transform: translateY(0);
				opacity: 1;
			}

			.item__image {
				position: relative;

				img {
					width: 100%;
				}
			}

			.item__number {
				position: absolute;
				z-index: 1;
				bottom: 18px;
				left: 44px;
				font-size: 100px;
				font-weight: 200;
				line-height: 1;
			}

			.item__desc {
				font-size: 27px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1.2;
				margin-top: 30px;
				padding-bottom: 45px;
			}
		}
	}
}

.block-tabs {
	background: #00a0ce;
	color: #fff;

	.tabs-item {
		.tabs__metro {
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			font-size: 0;

			.metro__block {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 33.333%;
				box-sizing: border-box;
				padding: 0 30px;
				margin-bottom: 60px;
				font-size: 14px;
				transform: translateY(10%);
				opacity: 0;
				transition: all .75s ease;

				&.active {
					transform: translateY(0);
					opacity: 1;
				}

				.block-wrapper {
					background: #fff;

					&:hover {
						.block__image {
							.image__src {
								transform: scale(1.2);
							}
						}
					}
				}

				.block__image {
					position: relative;
					height: 280px;
					overflow: hidden;

					.image__src {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-size: cover;
						background-position: ceter center;
						transition: all .4s ease;
					}
				}

				.block__info {
					padding: 25px;
					min-height: 165px;

					.info__title {
						font-size: 24px;
						font-weight: 300;
						text-transform: uppercase;
						color: #009fd0;
					}

					.info__desc {
						color: #555555;
						margin-top: 10px;
						line-height: 1.6;
					}
				}
			}
		}
	}
}

.block-popular {
	background: #00b6eb;

	.us-title {
		color: #fff;
	}

	.popular__list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-size: 0;

		.list__item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 33.333%;
			box-sizing: border-box;
			padding: 0 30px;
			margin-bottom: 60px;
			font-size: 14px;
			transform: translateY(10%);
			opacity: 0;
			transition: all .75s ease;

			&.active {
				transform: translateY(0);
				opacity: 1;
			}

			.list-wrapper {
				background: #fff;
				padding: 50px 25px 25px;
				text-align: center;
				height: 170px;
			}

			.list__image {
				position: absolute;
				width: 150px;
				height: 150px;
				left: 50%;
				top: -75px;
				margin-left: -75px;
				border-radius: 150px;
				background-size: cover;
				background-positon: center center;
				background-color: #ccc;
			}

			.list__name {
				font-size: 26px;
				color: #009fd0;
			}

			.list__link {
				font-family: 'CenturySchoolbook';
				font-size: 18px;
				color: #8c8c8c;
				margin-top: 5px;

				a {
					color: inherit;
					font-style: italic;
					text-decoration: none;
				}
			}

			.list__desc {
				font-size: 14px;
				margin-top: 15px;
				color: rgb(85, 85, 85);
				line-height: 1.6;
			}
		}
	}
}

.block-location {
	padding-bottom: 80px;

	.wrapper {
		position: relative;
	}

	.us-title {
		padding-top: 80px;
		color: #009fd0;
	}

	.location__map {
		position: relative;
		text-align: center;

		.map__image {
			max-width: 100%;
		}

		.map__enter {
			display: none;
			position: absolute;
			top: 768px;
			left: 275px;
			z-index: 2;
		}

		.map__modis {
			position: absolute;
			top: 250px;
			left: 260px;
			z-index: 2;
		}
	}
}

.block-follow {
	position: relative;
	color: #fff;
	text-align: center;
	background: url(../images/follow-background.jpg) center center / cover;
	padding-bottom: 100px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ef1a8b;
		opacity: .7;
		z-index: 1;
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}

	.us-title {
		text-transform: uppercase;
	}

	.follow__desc {
		font-family: 'CenturySchoolbook';
		font-style: italic;
		font-size: 40px;
	}

	.follow__widgets {
		overflow: hidden;
		margin-top: 35px;
		font-size: 0;

		.widgets__item {
			display: inline-block;
			vertical-align: top;
			width: 33.333%;
			box-sizing: border-box;
			padding: 0 13px;
		}
	}
}

.news-delivery {
	padding: 80px 0;
	background: #f6f6f6;
	text-align: center;
	min-height: 360px;
	box-sizing: border-box;

	.delivery__title {
		font-family: 'CenturySchoolbook';
		font-size: 40px;
		font-style: italic;
	}

	.delivery__desc {
		font-size: 14px;
		font-weight: 500;
		margin-top: 25px;
	}

	.delivery__form {
		margin-top: 40px;

		.form__input {
			background: transparent;
			padding: 0 10px;
			outline: none;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #111;
			font-size: 14px;
			height: 40px;
			width: 515px;
			margin-right: 20px;

			&::-webkit-input-placeholder {
				color: #111;
				font-weight: 500;
			}
			&::-moz-placeholder          {
				color: #111;
				font-weight: 500;
			}
			&:-moz-placeholder           {
				color: #111;
				font-weight: 500;
			}
			&:-ms-input-placeholder      {
				color: #111;
				font-weight: 500;
			}

			&.error-input {
				border-bottom: 1px solid red;

				&::-webkit-input-placeholder {
					color: red;
				}
				&::-moz-placeholder          {
					color: red;
				}
				&:-moz-placeholder           {
					color: red;
				}
				&:-ms-input-placeholder      {
					color: red;
				}
			}
		}
	}
}

.block-child {
	text-align: center;
	background: #f5f5f5;

	&:after {
		content: "";
		display: block;
		height: 645px;
		background: url(../images/children.jpg) center center / auto no-repeat;
	}
}

.block-photos {
	background: url(../images/photos-back.jpg) center center / cover;
	font-size: 0;
	padding: 2px 0;

	.wrapper {
		padding: 0;
		width: 1185px;
	}

	.photos-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 2px;
		box-sizing: border-box;
		transform: translateY(10%);
		opacity: 0;
		transition: all .75s ease;

		&.active {
			transform: translateY(0);
			opacity: 1;
		}

		&.item-video {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				z-index: 3;
				top: 50%;
				left: 50%;
				margin-left: -41px;
				margin-top: -41px;
				width: 82px;
				height: 82px;
				background: url(../images/play-icon.png) 0 0 / 100% auto no-repeat;
			}
		}

		.item__image {
			position: absolute;
			z-index: 2;
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;
			background-size: cover;
			background-position: center center;
		}
	}

	.photos__left {
		display: inline-block;
		vertical-align: top;
		width: 527px;
		height: 527px;
	
		.photos-item {
			width: 100%;
			height: 100%;
		}
	}

	.photos__center {
		display: inline-block;
		vertical-align: top;
		width: 262px;
		height: 527px;

		.photos-item {
			width: 100%;
			height: 50%;
		}
	}

	.photos__right {
		display: inline-block;
		vertical-align: top;
		width: 396px;
		height: 527px;

		.photos-item {
			width: 33.333333333%;
			height: 132px;

			&:last-child {
				width: 100%;
				height: 395px;
			}
		}
	}
}

.block-cosmo {
	background: #20c2f8;
	padding-top: 40px;
	height: 465px;
	color: #fff;
	text-align: center;

	.wrapper {
		height: 100%;
		background: url(../images/cosmopolitan.jpg) left bottom no-repeat;
	}

	.cosmo__cont {
		padding: 100px 0 0 700px;

		.us-title {
			padding: 0 0 20px;
		}
	}
}

.block-insta {
	//background: #009dd4;
	padding-bottom: 75px;
	text-align: center;

	&.insta-top {
		background: url(../images/photos-back.jpg) center center / cover;

		.us-title {
			color: #fff;
		}
	}

	&.insta-bottom {
		background: #f7ebd5;

		.us-title {
			color: #585858;
		}

		.insta__title {
			.title__item {
				color: #585858;
			}
		}
	}

	.insta__title {
		padding: 0 0 50px;
		//line-height: 135px;

		.title__item {
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 30px;
			margin: 0 30px;
			border-bottom: 1px solid transparent;
			transition: all .2s ease;

			&.active {
				//border-color: #fff;
				font-weight: 700;
			}
		}
	}

	.insta__photos {
		display: none;
		text-align: left;

		&.active {
			display: block;
		}

		.photos__item {
			display: inline-block;
			vertical-align: top;
			width: 185px;
			height: 185px;
			margin: 5px;
			background-size: cover;
			background-position: center center;
		}
	}
}

.block-dino {
	position: relative;
	padding: 50px 0 120px;
	text-align: center;
	color: #fff;
	background: #0899c0 url(../images/dino-pattern.png) center center / cover;

	&:before {
		content: "";
		position: absolute;
		width: 169px;
		height: 245px;
		background: url(../images/dino1.png) center center / contain no-repeat;
		bottom: 0;
		left: 50%;
		margin-left: -450px;
	}

	&:after {
		content: "";
		position: absolute;
		width: 266px;
		height: 340px;
		background: url(../images/dino2.png) center center / contain no-repeat;
		bottom: -3px;
		left: 50%;
		margin-left: 210px;
	}

	.us-title {
		padding-bottom: 30px;
	}
}

.block-vote {
	//background: #fafafa;
	text-align: center;
	padding-bottom: 50px;

	.vote__girls {
		overflow: hidden;
		margin-top: 70px;

		.girls__item {
			float: left;
			width: 20%;

			.item__image {
				height: 420px;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}

			.item__title {
				font-family: 'CenturySchoolbook';
				font-style: italic;
				margin-top: 20px;
			}

			.item__like {
				margin-top: 20px;

				a {
					display: inline-block;
					vertical-align: top;
					height: 50px;
					width: 50px;
					background: url(../images/vote/like.png) center center / auto no-repeat;

					&.liked {
						background: url(../images/vote/liked.png) center center / auto no-repeat;
					}
				}
			}

			.item__likes {
				margin-top: 5px;
				font-size: 24px;
				color: #009cc1;
			}
		}
	}
}

.block-fashion {
	position: relative;
	padding: 10px 0 80px;
	text-align: center;
	background: #B8D6DE url(../images/fashion_bg.jpg) center center / auto 100% no-repeat;
	overflow: hidden;

	/* &:before {
		content: "";
		position: absolute;
		width: 335px;
		height: 341px;
		background: url(../images/girl1.png) center center / auto no-repeat;
		bottom: 0;
		left: 50%;
		margin-left: -630px;
	}

	&:after {
		content: "";
		position: absolute;
		width: 409px;
		height: 271px;
		background: url(../images/girl2.png) center center / auto no-repeat;
		bottom: 0;
		left: 50%;
		margin-left: 260px;
	} */

	.us-title {
		padding-bottom: 20px;
	}

	.fashion__bottom {
		margin-top: 60px;

		.bottom__title {
			font-size: 42px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.bottom__desc {
			margin-top: 10px;
		}
	}
}

.footer {
	height: 100px;
	line-height: 100px;

	.footer__left {
		font-size: 14px;

		a {
			font-weight: 700;
			text-decoration: none;
			color: #009fd0;
			border-bottom: 1px solid transparent;
			transition: all .2s ease;

			&:hover {
				border-color: #009fd0;
			}
		}
	}

	.footer__right {
		float: right;
		font-size: 12px;
		text-transform: uppercase;

		.right__icons {
			.icons__item {
				position: relative;
				top: .2em;
				display: inline-block;
				margin-left: 20px;
				font-size: 23px;
				text-decoration: none;
				color: #aaaaaa;
				transition: color .2s ease;

				&:hover {
					color: #009fd0;
				}
			}
		}
	}
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}